dist: 
  - xenial
env:
  - NODE_ENV=travis_ci
language: node_js
before_install:
  - cd server
before_script:
  - curl -X PUT localhost:5984/gpxplanner
node_js:
  - 16
services:
  - couchdb
addons:
  apt:
    sources:
      - ppa:couchdb/stable
    packages:
    - couchdb